.table1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: hidden;
  height:auto;
}

.table-container {
  width: 97%; 
  margin-top: 20px;
  border: hidden;
  margin-left:17px;
  overflow-x: auto;
  height: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
}


.table th {
min-width: 150px; 
white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis; 
}


.table td {
white-space: nowrap; 
overflow: hidden; 
text-overflow: ellipsis; 
}


.table th {
  background-color: #ffffff; 
  min-width: 120px;
}

.actionbutton, .actionbutton1 {
  padding: 8px 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.actionbutton {
  background-color: #28a745; 
}

.actionbutton1 {
  background-color: #dc3545; 
}

.buttons{
  width: 34px;
}

.buttonscol{
  width: 34px;
}


#mainheader1 {
  background-color:#343a40;
/* background-image: linear-gradient(to right,#caff0c,#079ac7); */
color: #fff;
padding: 20px;
text-align: center;
}

#mainheader h4 {
margin-bottom: 10px;
}

.admin1sidebar{
  background-color: #343a40;
}